# GitHub token
GH_TOKEN=

# OpenProject token
OP_TOKEN=

# Where OpenProject lives
OP_URL=https://op.stoatinternal.com

# Configure a mapping of repositories to project IDs
REPO_PROJECT_MAP="stoatchat/for-web:8"
